[Unit]
Description=Kiwix server

[Service]
User=ideascube
Group=ideascube
ExecStart=/bin/sh -c "/usr/local/bin/kiwix-serve --port=8002 $(ls {{ zim_path }}/*.zim)"
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
